.social-media-bg
{
    background-color: #000000;
}

.copyright
{
    background: #000;
    color: white;
}

.bg-footer
{
    background-color: #164f7a;
}

.links-footer
{
    color: rgb(21, 19, 19);
}

.links-footer:hover
{
    font-weight: 600;
}

.links-footer:visited
{
    color: black;
}