.social-media-bg
{
    background-color: #000000;
}

.copyright
{
    background: #000;
    color: white;
}

.bg-footer
{
    background-color: #164f7a;
}

.links-footer
{
    color: white
   
}
.links-footer:hover
{
    color: rgb(122, 118, 118);
}